body {
    font-family: Arial;
    background-color: #f5f5f5;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #333;
}

.box {
    background: white;
    width: 350px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

p {
    margin: 5px 0;
}